{% block titlebar %}
    {% set action = route.getGravParam('action') %}
    {% set back_url = base_url ~ '/' ~ (action ? route.getRoute(1) : route.getRoute(1, -1)) %}

    <div class="button-bar">
        <a class="button" href="{{ back_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        {% if object.exists and object.route %}
            <a href="{{ url(object.route.uri, true) }}" class="button" target="_blank"><i class="fa fa-eye"></i> {{ "PLUGIN_ADMIN.PREVIEW"|tu }}</a>
        {% endif %}
        {% if object ? object.isAuthorized('save') : directory.isAuthorized('create') %}
        <button class="button" type="submit" name="task" value="save" form="blueprints"><i class="fa fa-check"></i> {{ "PLUGIN_ADMIN.SAVE"|tu }}</button>
        {% endif %}
    </div>
    {% set key = object.hasKey ? object.key : null %}
    <h1><i class="fa fa-fw fa-file-text-o"></i> {{  directory ? (object.title ?? key ?? '[NEW]') : 'Not Found' }}</small></h1>
{% endblock %}
