{% block titlebar %}
    {% set back_url = base_url ~ '/' ~ route.getRoute(1, -1) %}

    <div class="button-bar">
        <a class="button" href="{{ back_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        {% if directory.config('admin.export') %}
        <a class="button" href="{{ grav.route.withGravParam('action', 'csv') }}"><i class="fa fa-download"></i> CSV</a>
        {% endif %}
        {% if directory.isAuthorized('create') %}
        <a class="button" href="{{ grav.route.withGravParam('action', 'add') }}"><i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.ADD"|tu }}</a>
        {% endif %}
    </div>
    <h1><i class="fa fa-fw fa-file-text-o"></i> {{ directory ? directory.title|tu : 'Not Found' }}</h1>
{% endblock %}
