{% block titlebar %}
    {% set back_url = flex.count > 1 or not directory ? base_url ~ flex.adminRoute() : base_url %}
    <div class="button-bar">
        <a class="button" href="{{ back_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        {% if directory.authorize('create') %}
        <a class="button" href="{{ base_url ~ flex.adminRoute(directory, {action: 'add'}) }}"><i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.ADD"|tu }}</a>
        {% endif %}
    </div>
    <h1><i class="fa fa-fw fa-file-text-o"></i> {{ directory ? directory.title|tu : 'Not Found' }}</h1>
{% endblock %}
