{% block titlebar %}
    <div class="button-bar">
        <a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        <a class="button" href="{{ base_url ~ '/flex-directory/' ~ target ~ '/action:add' }}"><i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.ADD"|tu }}</a>
    </div>
    <h1><i class="fa fa-fw fa-file-text-o"></i> {{ "PLUGIN_FLEX_DIRECTORY.TITLE"|tu }}</h1>
{% endblock %}
