{% set object_title = title_field ? "'" ~ object[title_field]|join(' ') ~ "'" : 'Item' %}

{% if object.isAuthorized('read') %}
    {% if object.getRoute() %}
        <a href="{{ route.withAddedPath(object.getKey()).withoutParams().withQueryParam('preview', 1) }}" title="{{ "PLUGIN_ADMIN.PREVIEW"|tu }}" class="preview-action">
            <i class="fa fa-eye"></i>
        </a>
    {% endif %}

    <a href="{{ route.withAddedPath(object.getKey()).withoutParams().getUri() }}" title="Edit {{ object_title }}" class="edit-action">
        <i class="fa fa-pencil"></i>
    </a>
{% endif %}
{% if object.isAuthorized('delete') %}
    <a href="#delete"
       class="page-delete delete-action"
       title="Delete {{ object_title }}"
       data-remodal-target="delete"
       data-delete-url="{{ grav.uri.addNonce(route.withAddedPath(object.getKey()).withoutParams().withGravParam('task', 'delete').getUri(), 'admin-form', 'admin-nonce') }}"
    >
       <i class="fa fa-close"></i>
   </a>
{% endif %}
