{% extends 'partials/base.html.twig' %}
{% use 'flex-directory/pages/titlebar/types.html.twig' %}

{% set flex = grav.flex_directory %}
{% set directory_url =  base_url_relative ~ '/' ~ location %}

{% block head %}
    {% if flex.count == 1 %}
        {{ redirect_me(base_url ~ '/flex-directory/' ~ flex.directory.type) }}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block content %}
<table id="data-table" class="table">
    <colgroup>
        <col width="20" />
        <col width="80" />
    </colgroup>
    <thead>
    <tr>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for type,directory in flex.directories %}
        <tr>
            <td>
                <a href="{{ directory_url ~ '/' ~ type }}">{{ directory.title }}</a>
            </td>
            <td>
                {{ directory.description }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}